@import 'tailwindcss';

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  background: linear-gradient(180deg, #ffffff 0%, #f8fafc 50%, #f1f5f9 100%);

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

  color: var(--foreground);
  min-height: 100vh;
}
